<div class="calendar">
	<div class="calendar-header">
		<button id="month-back"><i class="fas fa-angle-left"></i></button>
		<h1 id="month">Month</h1>
		<h2 class="center year">Year</h2>
		<button id="month-next"><i class="fas fa-angle-right"></i></button>
	</div>


	<table class="table">
			<thead>
		    <tr>
		      <th scope="col">S</th>
		      <th scope="col">M</th>
		      <th scope="col">T</th>
		      <th scope="col">W</th>
		      <th scope="col">T</th>
		      <th scope="col">F</th>
		      <th scope="col">S</th>
		    </tr>
			</thead>
			<tbody>
		
			</tbody>
	</table>
	<div class="availability-edit">
		<button onclick="showEditAvailabilityForm()" class="btn btn-primary">Edit Availability</button>
	</div>
</div>