<div id="bottom">
	<div class="row">
		<div class="col">
			<h1><a href=''>Page 1</a></h1>
		</div>
		<div class="col">
			<h1><a href=''>Page 2</a></h1>
		</div>
		<div class="col">
			<h1><a href=''>Page 3</a></h1>
		</div>
		<div class="col">
			<h1><a href=''>Page 4</a></h1>
		</div>
		<div class="col">
			<h1><a href=''>Page 5</a></h1>
		</div>
	</div>
	<div class="row social-links">
		<div class="col-sm-1">
			<a href=""><h1><i class="fab fa-instagram"></i></h1></a>
		</div>
		<div class="col-sm-1">
			<a href=""><h1><i class="fab fa-facebook"></i></h1></a>
		</div>
		<div class="col-sm-1">
			<a href=""><h1><i class="fab fa-twitter"></i></h1></a>
		</div>
	</div>
</div>

</body>
</html>