<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/results.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/photo-editor.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/photo-selector.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



	<title>HYVE</title>
</head>
<body>
	<div id="top-bar">
		<div class="row">
			<div id="logo" class="col-sm-2">
				<a href="/">
					<img src="/photos/logo_invert.jpeg">
				</a>
			</div>
			<div class="col-sm-4">
				<form id="search" action="/searchResult" method="GET">
					<input type="text" class="form-control" id="search" placeholder="Musician, Comedian, Artist" name="search">
					<input style="display: none" id="find-talent" class="btn btn-primary" type="submit" value="Find Talent" name="">
				</form>
			</div>
			<%if(currentUser){%>
				<div class="col-sm-4">

				</div>
				<a href="/user/<%=currentUser._id%>">
					<div class="col-sm-2 logged-in" id="user">
						<div class="row" id="drop-down">
							<div class="col">
								<%if(currentUser.profile_image && currentUser.profile_image.cropped_profile_path){%>
									<img id="user-image" src="<%=currentUser.profile_image.cropped_profile_path%>">
								<%}else{%>
									<img id="user-image" src="/photos/generic_person.jpg">
								<%}%>
							</div>
							<div class="col" id="hello-user">
								<h5>Hello,</h5>
								<h2 class="truncate"><%=currentUser.firstName%> <i class="fas fa-caret-down"></i></h2>								
							</div>
						</div>
						<div class="row arrow-up white on-top"></div>
						<div class="row" id="drop-down-menu">
							<ul>
								<li><a href="/user/<%=currentUser._id%>">View Profile</li>
								<li><a href="/sign_out">Sign Out</a></li>
							</ul>
						</div>
					</div>
				</a>
			<%}else{%>
				<div class="col-sm-4">
				
				</div>
				<div class="col-sm-2" id="user">
					<div class="row" id="drop-down">
						<div class="col">
							<h5>Hello, Sign in </h5>
							<h2>Account <i class="fas fa-caret-down"></i></h2>								
						</div>
					</div>
					<div class="row arrow-up white on-top"></div>
					<div class="row" id="drop-down-menu">
						<div class="col">
							<ul>
								<li><a id="login" class="btn btn-primary orange-background" href="/login">Login In</a></li>
								<li><p id="sign-up">Not a HYVER? <a href="/signup" style="color: rgb(250,196,98);">Join Now</a></p></li>
							</ul>
						</div>
					</div>
				</div>
			<%}%>
		</div>
	</div>

