<div class="add-new-form">
	<div class="row">
		<div class="col-lg-10">
			<h1>Add New</h1>
		</div>
		<div class="col-lg-2">
			<h1>
				<i onclick='closeAddNewForm();' class="fas fa-times-circle exit"></i>
			</h1>	
		</div>
	</div>
	<hr>
	<form autocomplete="false">
		<div class="row">
			<div class="col-lg-4 left-section">
				<div class="form-row">
					<div class="col-lg-12 form-group">
						<input type="text" class="form-control date" name="date" disabled>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-4 form-group">
						<input type="number" class="form-control" placeholder="10" min="1" max="12" name="start-time-hour">
					</div>
					<div class="col-lg-4 form-group">
						<input type="number" class="form-control" placeholder="00" min="0" max="59" name="start-time-minute">
					</div>
					<div class="col-lg-4 form-group">
						<select class="form-control">
							<option>AM</option>
							<option>PM</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-4 form-group">
						<input type="number" class="form-control" placeholder="11" min="1" max="12" name="end-time-hour">
					</div>
					<div class="col-lg-4 form-group">
						<input type="number" class="form-control" placeholder="00" min="0" max="59" name="end-time-minute">
					</div>
					<div class="col-lg-4 form-group">
						<select class="form-control">
							<option>AM</option>
							<option>PM</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-6 form-group">
						<input type="radio" name="one-time-or-repeat" onclick='hideRepeat();' checked>
						<label>One Time</label>
					</div>
					<div class="col-lg-6 form-group">
						<input type="radio" onclick='showRepeat();' name="one-time-or-repeat">
						<label>Repeat</label>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-12 form-group">
						<button class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
			<div class="col-lg-8 repeat">
				<div class="form-row">
					<div class="col-lg-2">
						<label>Repeat Every</label>
					</div>
					<div class="col-lg-2 form-group">
						<input type="number" class="form-control" min="1" max="100" name="" placeholder="1">
					</div>
					<div class="col-lg-3 form-group">
						<select class="form-control">
							<option>Day</option>
							<option>Week</option>
							<option>Month</option>
							<option>Year</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-1">
						<label>On</label>
					</div>
					<div class="form-group col-lg-10 select-Days">
							<input class=check type="checkbox" id="sunday" value="true" name="class[days][sunday]">
							<input class=hid type="hidden" value="false" name="class[days][sunday]">
							<label onclick="toggleChecked(this);" for="sunday">S</label>
							<input class=check type="checkbox" value="true" id="monday" name="class[days][monday]">
							<input class=hid type="hidden" value="false" name="class[days][monday]">
							<label onclick="toggleChecked(this);" for="monday">M</label>
							<input class=check type="checkbox" id="tuesday" value="true" name="class[days][tuesday]">
							<input class=hid type="hidden" value="false" name="class[days][tuesday]">
							<label onclick="toggleChecked(this);" for="tuesday">T</label>
							<input class=check type="checkbox" id="wednesday" value="true" name="class[days][wednesday]">
							<input class=hid type="hidden" value="false" name="class[days][wednesday]">
							<label onclick="toggleChecked(this);" for="wednesday">W</label>
							<input class=check type="checkbox" id="thursday" value="true" name="class[days][thursday]">
							<input class=hid type="hidden" value="false" name="class[days][thursday]">
							<label onclick="toggleChecked(this);" for="thursday">T</label>
							<input class=check type="checkbox" id="friday" value="true" name="class[days][friday]">
							<input class=hid type="hidden" value="false" name="class[days][friday]">
							<label onclick="toggleChecked(this);" for="friday">F</label>
							<input class=check type="checkbox" id="saturday" value="true" name="class[days][saturday]">
							<input class=hid type="hidden" value="false" name="class[days][saturday]">
							<label onclick="toggleChecked(this);" for="saturday">S</label>
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<label>Ends On</label>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-1">
						
					</div>
					<div class="col-lg-1 form-group">
						<input type="radio" onclick="disableAfterandOn();" class="form-control" name="never-on-occurences" checked>
					</div>
					<div class="col-lg-1">
						<label>Never</label>
					</div>
				</div>
				<div class="form-row row">
					<div class="col-lg-1">
						
					</div>
					<div class="col-lg-1 form-group">
						<input type="radio" onclick="removeDisabledOn();"  class="form-control" name="never-on-occurences">
						
					</div>
					<div class="col-lg-1">
						<label>On</label>
					</div>
					<div class="col-lg-3 form-group">
						<input id="on" type="text" class="form-control" name="" disabled>
					</div>
				</div>
				<div class="form-row">
					<div class="col-lg-1">
						
					</div>
					<div class="col-lg-1 form-group">
						<input onclick="removeDisabledAfter();" type="radio" class="form-control" name="never-on-occurences">
						
					</div>
					<div class="col-lg-2">
						<label>After</label>
					</div>
					<div class="col-lg-2">
						<input type="number" id="occurences" placeholder="2" min="2" max="100" class="form-control" name="never-on-occurences" disabled>
					</div>
					<div class="col-lg-1">
						<label>Occurences</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>