<!DOCTYPE html>
<html>
<head>
	<title>HYVE</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


	<link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login_signup.css">

	<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>

</head>
<body>

	<div class="login">
		<a href="/">
			<img src="/photos/logo_invert.jpeg">
		</a>
		<%- include("./partials/flash_message") %>
		<form action="/login" method="POST">
			<h1>Login!</h1>
			<div class="row form-group">
				<div class="col">
					<input type="text" class="form-control" name="username" placeholder="username" required>
				</div>
			</div>
			<div class="row form-group">
				<div class="col">
					<input type="password" class="form-control" name="password" placeholder="password" required>
				</div>
			</div>
			<div class="row form-group">
				<div class="col">
					<button class="btn btn-primary">Login</button>
				</div>
			</div>
			<a id="sign-up" href="/signup">Sign up</a>
		</form>
	</div>
</body>
</html>