<%- include('./partials/header') %>

<div id="profile-page" class="page-container">
	<div class="row">
		<div class="col-lg-5">
			<h1 class="title">Contractor</h1>
			<h3 class="location">New York City, New York United States</h3>
			<div class="row stars-price-row">
				<div class="col" style="padding-right: 0">
					<h2 class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</h2>
				</div>
				<div class="col">
					<h2 class='price'>$100.00</h2>
				</div>
			</div>
			<button class="more-info-button" id="reviews" >35 Reviews</button>
			<div class="row name-talent-row">
				<div class="col-lg-9">
					<a href=""><h2 class="name">Keefer Gregoire</h2></a>
				</div>
				<div class="col-lg-1">
					<i class="fas fa-hammer"></i>
				</div>
				<div class="col-lg-1">
					<i class="fas fa-brush" style="opacity: .5;"></i>
				</div>
				<div class="col-lg-1">
					<i class="fas fa-ruler" style="opacity: .5;"></i>
				</div>
			</div>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h1 class="availability">Availability</h1>
			<button class="more-info-button" id="see-full-calendar">See Full Calendar</button>
			<div class="three-day-calendar">
				<div class="item" style="color: #CCFBFE;">
					<h4 class="day">Fri.</h4>
					<h4 class="date">Jun. 12th</h4>
				</div>
				<div class="item" style="background: rgba(104, 80, 68, 0.75);">
					<h4 class="day">Sat.</h4>
					<h4 class="date">Jun. 13th</h4>
				</div>
				<div class="item" style="background: rgba(104, 80, 68, 0.75);">
					<h4 class="day">Sun.</h4>
					<h4 class="date">Jun. 14th</h4>
				</div>
			</div>
			<button class="request-hyver">Request Hyver</button>
			<button id="contact-me" class="more-info-button">Contact Me</button>
		</div>
		<div class="col-lg-5 large-image">
			<img class="main-image" src="https://images.pexels.com/photos/224924/pexels-photo-224924.jpeg">
		</div>
		<div class="col-lg-1 image-gallary-col">
			<div class="small-image">
				<img src="https://images.pexels.com/photos/1078879/pexels-photo-1078879.jpeg">
			</div>
			<div class="small-image">
				<img src="https://images.pexels.com/photos/1078879/pexels-photo-1078879.jpeg">
			</div>
			<div class="small-image">
				<img src="https://images.pexels.com/photos/3760529/pexels-photo-3760529.jpeg">
			</div>
			<div class="small-image">
				<img src="https://images.pexels.com/photos/224924/pexels-photo-224924.jpeg">
			</div>
			<div class="small-image">
				<img src="https://images.pexels.com/photos/1078879/pexels-photo-1078879.jpeg">
			</div>
		</div>
	</div>
</div>

<div id="image-handler"></div>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="/scripts/image_handler.js"></script>
<%- include('./partials/footer') %>