<%- include('./partials/header') %>

<div class="page-container">
	<div id="left-panel">
		
	</div>
	<div id="right-panel">

		<div class='container' id="result-grid">
			<div class="row">
				<div class="col-lg-4 item">
					<a href="">
						<img src="https://images.pexels.com/photos/977971/pexels-photo-977971.jpeg">
						<div class="row">
							<div class="col-lg-8 basic-info">
								<h1 class="skill truncate">Singer & Songwritter</h1>
								<a href=""><h2 class="name truncate">John Miller</h2></a>
								<h3 class="rating">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half"></i>
								</h3>	
							</div>
							<div class="col-lg-4 pricing-info">
								<h2 class="price">$100.00</h2>
								<h2 class="units">per gig</h2>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<%- include('./partials/footer') %>