#bottom{
	background: lightgrey;
	padding: 30px;
	clear: both;
}

#bottom h1{
	font-size: 15px;
}

#bottom a{
	color: black;
}

#bottom .social-links h1{
	font-size: 30px;
}

#drop-down button{
	color: white;
    font-size: 30px;
    margin: 10px -25px;
    background: transparent;
    border: none;
}

#drop-down button:hover{
	cursor: pointer;
}

#drop-down button:focus{
	outline: none !important;
}

#drop-down.col{
	padding-left: 0;
}

#logo img{
	height: 60px;
    width: 92px;
    object-fit: cover;
    padding: 5px;
    border-radius: 25px;
}

#search{
	margin-top: 10px;
}

#top-bar{
	background: black;
	padding: 0 30px;
	height: 60px;
}

#top-bar #logo h1{
	color: #fff23b;
	margin-top: 1%;
}

#top-bar #logo a:hover{
	text-decoration: none;
}

#top-bar #signup h1{
	color: white;
	text-align: right;
	font-size: 25px;
	margin-top: 6%;
}

#top-bar #login h1{
	font-size: 15px;
	color: white;
	margin-top: 25%;
	text-align: right;
}

.truncate {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#user-image{
	object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid white;
    margin: 5px;
}

#user > .col{
	padding-right: 0;
}