.new-talent-form{
	width: 25vw;
    top: -500px;
    left: 37%;
    position: relative;
    background: rgb(50,50,50);
    border-radius: .25rem;
    padding: 20px;
    display: none;
}

.new-talent-form i{
	cursor: pointer;
}

.new-talent-form.show{
	display: block;
}