.active{
	background: rgb(210,210,210);
    width: 100%;
    border-radius: 14px;
}

#left-section{
	width: 15%;
	padding: 0 20px;
	float: left;
	background: rgb(230,230,230);
}

#left-section h1{
	font-size: 30px;
}

#left-section li{
	height: 45px;
    padding: 6% 10px;
    cursor: pointer;
}

#left-section li:hover:not(.active){
	background: rgb(220,220,220);
    width: 100%;
    border-radius: 14px;
}

#left-section ul{
	list-style: none;
	padding-left: 0;
}

.page-container.hide{
	opacity: .2;
}

.photo-selector{
	z-index: 3;
    position: absolute;
    background: #424242;
    top: 25%;
    left: 36%;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid;
    display: none;
}

.photo-selector.show{
	display: block;
}

.photo-selector h1{
	color: white;
    font-size: 25px;
}

.photo-selector h1 i{
	color: rgba(255,255,255,.6);
	cursor: pointer;
}

#photo-editor{
	display: none;
	width: 40vw;
    left: 30%;
}

#photo-editor img{
	object-fit: cover;
	position: absolute;
}

#photo-editor.show{
	display: block;
}

#photo-editor #photo{
	height: 315px;
	overflow: hidden;
	background: #616161;
	position: relative;
	cursor: move;
}

#right-section{
	float: right;
	width: 85%;
	padding: 10px 20px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: 10px 5px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 98%; /* Full-width */
  height: 7px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100%;
  background: rgb(250,196,98);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100%;
  background: rgb(250,196,98);
  cursor: pointer; /* Cursor on hover */
}

#top-section{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

#top-section hr{
    margin: 1rem 13%;
    background: white;
}

#top-section #user-info{
	margin: 20px 25%;
}

#top-section #user-info h1{
	text-align: center;
}

#top-section #user-info i{
	padding: 15px;
    background: rgba(0,0,0,.6);
    color: white;
    font-size: 26px;
    border-radius: 34px;
    position: absolute;
    z-index: 2;
    top: 33%;
    left: 54%;
    cursor: pointer;
}

#top-section #user-info i:hover{
	background: rgba(150,150,150,.8);
}

#user-info #profile-image{
	object-fit: cover;
    margin: 0 36%;
    height: 200px;
    width: 200px;
    border: 4px solid;
    border-radius: 100px;
    background: red;
    overflow: hidden;
    position: relative;
}

#user-info #profile-image img{
	position: absolute;
	object-fit: cover;
}



.cut-out:after{
	content: '';
    position: absolute;
    left: 22%;
    top: 12%;
    border-radius: 100%;
    height: 250px;
    width: 250px;
    border: 4px solid white;
    box-shadow: 0px 0px 0px 600px rgba(0,0,0,.5);
}


.cut-out{
	position:relative;
    width: inherit;
    height: inherit;
    margin:0 auto;
    overflow:hidden;
}







