#left-panel{
	float: left;
    width: 15vw;
    height: 100vh;
    background: blue;
}

#right-panel{
	float: right;
	width: 85vw;
	height: 100vh;
	background: red;
}

#search-bar{
	padding: 20px 30%;
}