#talent-photo-form{
	background: rgb(225,225,225);
    width: 700px;
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    padding: 20px;
    border-radius: .5rem;
}

#talent-photo-form.show{
	display: block;
}

#talent-photo-form .exit{
	cursor: pointer;
}

#talent-photo-form .display-image{
    height: 400px;
    width: 100%;
    background: black;
    margin-bottom: 20px;
    display: none;
    overflow: hidden;
    position: relative;
}

#talent-photo-form .display-image.show{
	display: block;
}

#talent-photo-form .main-image{
    /*object-fit: contain;*/
    display: none;
    position: absolute;
}

#talent-photo-form .main-image.show{
	display: block;
}

#talent-photo-form .main-image-overlay{
	position: relative;
    background: rgba(255,255,255,0.7);
    width: inherit;
    height: inherit;
    display: none;
    padding: 30% 35%;
}

#talent-photo-form .display-image:hover .main-image-overlay{
	display: block;
}

#talent-photo-form .display-image .main-image-overlay.hide{
    display: none;
}

#talent-photo-form .loader{
	display: block;
    position: relative;
    background: black;
    height: inherit;
    width: inherit;
    top: 0;
    padding: 22% 32%;
}

#talent-photo-form .loader.hide{
	display: none;
}


#talent-photo-form .photo-options .edit-option{
    display: none;
}

#talent-photo-form .photo-options .edit-option.show{
    display: block;
}

#talent-photo-form .photo-options .upload{
    display: block;
}

#talent-photo-form .photo-options .upload.hide{
    display: none;
}

#talent-photo-form .main-image-cut-out:after{
    content: '';
    position: absolute;
    left: 25%;
    top: 12px;
    width: 373px;
    height: 93.5%;
    border: 4px solid white;
    box-shadow: 0px 0px 0px 600px rgba(0,0,0,.5);
}

#talent-photo-form .main-image-cut-out{
    position: relative;
    width: inherit;
    height: inherit;
    margin: 0 auto;
    overflow: hidden;
    cursor: move;
}

#talent-photo-form .slidecontainer{
    display: none;
}

#talent-photo-form .slidecontainer.show{
    display: block;
}



#talent-photo-form .photo-gallary img{
    object-fit: cover;
    width: inherit;
    height: inherit;
    
}

#talent-photo-form .photo-gallary .image-container{
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    position: relative;
}

#talent-photo-form .photo-gallary .overlay{
    position: relative;
    height: inherit;
    width: inherit;
    top: -130px;
    background: rgba(0,0,0,.6);
    display: none;
}

#talent-photo-form .photo-gallary .image-container:hover .overlay{
    display: block;
}

#talent-photo-form .photo-gallary .delete{
    color: black;
    position: absolute;
    left: 123px;
    top: -16px;
    font-size: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#talent-photo-form .photo-gallary .delete i{
    color: black;
    background: white;
    border-radius: 100%;
}


#talent-photo-form .photo-gallary .edit{
    position: absolute;
    top: 56px;
    left: 53px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#talent-photo-form .photo-gallary .edit i{
    color: white;
}


