#left-panel{
	float: left;
    width: 15vw;
    height: 100vh;
    background: white;
    border-right: 3px solid lightgrey;
    margin-top: 10px;
}

#result-grid{
	/*margin: 0 25px;*/
}

#result-grid a *{
	color: black;
}

#result-grid .item:hover *{
	text-decoration: none;
}

#result-grid .item{
	background: lightgrey;
	padding: 0;
	margin: 5px;
	width: 250px;
	border-radius: 25px;
	padding-bottom: 5px;

	max-width: 32.333333%;
}	

#result-grid .item img{
	height: 200px;
	width: 100%;
	object-fit: cover;
	background: white;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

#result-grid .item .basic-info{
	padding: 5px 20px;
}

#result-grid .item .skill{
	font-size: 25px;
}

#result-grid .item .name{
	font-size: 20px;
}

#result-grid .item .name:hover{
	text-decoration: underline;
	color: blue;
}

#result-grid .item .pricing-info{
	margin-top: 4px;
	border-left: 2px solid black;
}

#result-grid .item .price{
	font-size: 20px;
	color: green;
}

#result-grid .item .units{
	font-size: 20px;
}

#result-grid .item .rating *{
	color: #f2b20f;
	font-size: 12px;
	vertical-align: top;
	margin-top: 1px;
}



#right-panel{
	float: right;
	width: 85vw;
	height: 100vh;
	background: white;
}