<div class="photo-selector" id="photo-new-or-edit">
	<div class="row">
		<div class="col-lg-10">
			<h1>Update Profile Picture</h1>
		</div>
		<div class="col-lg-2">
			<h1>
				<i class="fas fa-times-circle"></i>
			</h1>				
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col">
			<button id="new-photo" class="btn btn-primary">+  Upload New Photo</button>
		</div>
		<div class="col">
			<% if (currentUser.profile_image && currentUser.profile_image.cropped_profile_path) { -%>
				<button onclick="editPhoto(<%=currentUser.profile_image%>);" id="edit-photo" class="btn btn-primary"><i class="fas fa-pen"></i></button>
			<% } else { -%>
				<button id="edit-photo" class="btn btn-primary" disabled><i class="fas fa-pen"></i></button>
			<% } -%>
		</div>

	</div>
	<div class="row">
		<div class="col">
			<h2>Previous Photo</h2>
		</div>
	</div>
</div>