.calendar{
	background: white;
    border-radius: 14px;
    position: relative;
}

.calendar .table{
	background: rgba(204, 251, 254, 0.5);
    border-radius: 14px;
}

.calendar .table thead th{
	border: none;
    padding: 0;
    padding-left: 5px;
    padding-top: 10px;
}

.calendar .table tbody th{
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    height: 70px;
    border: 1px solid rgba(204, 251, 254, .3);
    border-radius: 10px;
    background: rgba(104, 80, 68, .85);
    widows: 30px;
    cursor: pointer;
    overflow: hidden;
}

.calendar .table{
	table-layout: fixed;
}

.calendar .table tbody{
	background: 

}

.calendar .next-btn-cont{
	position: absolute;
	    left: -31px;

    height: 83px;
	width: 40px;
	background: rgba(0,0,0, .5);
	font-size: 30px;
	border: none;

	border-top-right-radius: 21%;
	border-bottom-right-radius: 21%;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
}

.calendar .next-detector{
	position: absolute;
	top: 40%;
	left: 98.3%;
    height: 83px;
	width: 10px;
	background: transparent;
}

.calendar .next-btn-cont i{
	position: relative;
	top: 40%
	left: 60%;
	color: white;
}

button{
	cursor: pointer;
}

.calendar .prev-btn-cont{
	position: absolute;
    height: 83px;
	width: 40px;
	background: rgba(0,0,0, .5);
	font-size: 30px;
	border: none;

	border-top-left-radius: 21%;
	border-bottom-left-radius: 21%;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
}

.calendar .prev-detector{
	position: absolute;
	top: 40%;
    height: 83px;
	width: 10px;
	background: transparent;
}

.calendar .prev-btn-cont i{
	position: relative;
	top: 40%
	left: 60%;
	color: white;
}

.rev-av .day{
	display: inline; 
	padding-right: 10px; 
	font-family: Source Sans Pro; 
	font-style: normal;
	font-weight: bold; 
	font-size: 42px;
}

.rev-av .date{
	display: inline;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
}

.calendar .grey-out{
	background: lightgrey;
	cursor: none;
}

.calendar th:not(.grey-out):hover{
	-webkit-box-shadow: inset 0px 0px 26px -9px #E5FDFE;
    -moz-box-shadow: inset 0px 0px 26px -9px #E5FDFE;
    box-shadow: inset 0px 0px 26px -9px #E5FDFE;
}

.calendar .cell-data{
	height: 15%;
    margin-bottom: 2px;
    background: lightblue;
    border-radius: 1px;
}

.calendar .cell-data h1{
	font-size: 7px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

button:hover{
	opacity: .7;
}